.home {
    position: relative;
    width: 100%;
    .bg1 {
        position: relative;
        width: 200px;
        height: 300px;
        @include bgFill("01.png");
    }
    .img1 {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 300px;
    }
}
